/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra lateral */
.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 15;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Estilos para el contenido principal */
.main-content {
  margin-left: 250px; /* Ancho de la barra lateral */
  padding: 20px;
}

/* Estilos adicionales para hacer la página responsive */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100px; /* Ancho de la barra lateral en dispositivos pequeños */
  }

  .main-content {
    margin-left: 100px; /* Ajuste del margen para dispositivos pequeños */
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px; /* Altura del encabezado */
  position: fixed; /* Fijar el encabezado en la posición */
  top: 0; /* Colocar el encabezado en la parte superior */
  width: 100%; /* Ancho completo del encabezado */
  z-index: 1000; /* Asegurar que esté encima de la barra lateral */
  background-color: #333;
  color: #fff;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
}

.user-actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile-picture img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.main {
  margin-top: 50px; /* Margen superior igual a la altura del encabezado */
  margin-left: 250px; /* Margen izquierdo igual al ancho de la barra lateral */
  padding: 20px; /* Espacio interior del contenido */
}